*{
  margin: 0;
  padding: 0;
  list-style: none;
}
.full-size{
  width: 100%;
  height: 100%;
}
.flex {
  display: flex;
}
.flex-centered{
  justify-content: center;
  align-items:center;
}
.flex-horCntr{
  justify-content: center;
}
.flex-vertCntr {
  align-items: center;
}
.flex-spcarrnd {
  justify-content: space-around;
}
.flex-spcbtwn {
  justify-content: space-between;
}
.flex-centered {
  justify-content: center;
  align-items: center;
}
.flex-drctCol{
  flex-direction: column;
}
.width_auto{
  width: auto;
}
.width_30prc {
  width: 30%;
}
.width_100prc{
  width: 100%;
}
.pad-l_10px{
  padding-left: 10px;
}
.pad-r_10px{
  padding-right: 10px;
}
.pad-lr_30px {
  padding-left: 30px;
  padding-right: 30px;
}
.pad-t_20px {
  padding-top: 20px;
}
.pad-t_30px {
  padding-top: 30px;
}
.marg-t_10px {
  margin-top: 10px;
}
.marg-t_20px {
  margin-top: 20px;
}
.marg-l_20px {
  margin-left: 20px;
}
.pos-right {
  margin-right: 0;
}
.pad-lr_chat {
  padding-left: 10vw;
  padding-right: 10vw;
}
.font-small{
  font-size: 16px;
}
.font-mid{
  font-size: 18px;
}
.visible-hide{
  visibility: hidden;
}
.logo-div {
  width: 100%;
  height: 6vh;
}
.room-header {
  width: 100%;
  height: 4vh;
  border: 2px solid gray;
}
.chat-messageWndw {
  width: 100%;
  height: 70vh;
  border: 2px solid gray;
  overflow: auto;
}
.chat-msg_submit {
  width: 100%;
  height: 8vh;
}
.chat-msg_input {
  width: 80%;
  height: 50%;
  border: 2px solid gray;
  border-radius: 5px;
  padding-left: 20px;
}
.chat-msg_input:focus{
  outline: none;
}
.chat-msg_button {
  width: 8%;
  height: 40%;
  margin-left: 3vw;
  background: none;
  border: 2px solid gray;
  border-radius: 5px;
}
/* MSG */
.chat-msg{
  min-width: 10%;
  max-width: 60%;
  min-height: 10%;
  width: auto;
  height: auto;
  padding: 5px 8px 5px 8px;
  border-radius:5px;
}
.pos_left{
  justify-content: start;
}
.pos_right{
  align-items:end;
}
.chat-msg_left{
  margin-left: 10px;
  min-height: 7vh;
  background: rgba(218, 218, 218, 0.746);
}
.chat-msg_rightDIV{
  margin-right: 10px;
  min-height: 100%;
  height: auto;
}
.chat-msg_right{
  width: 100%;
  height: auto;
  word-wrap: break-word;
  padding: 5px 8px 5px 8px;
  border-radius:5px;
  background: rgba(218, 218, 218, 0.746);
}
.avatarDIV{
  height: 100%;
}
.avatar{
  width: 4vw;
}
.msg-iconDiv{
  height: 0px;
  float: right;
}
.msg-icon{
  width: 1vw;
  height: 1vh;
  padding: 5px;
  margin-top: -0.5vh;
  min-width: 15px;
  min-height: 15px;
  cursor: pointer;
}

.msg-date{
  margin-top: 0.6vh;
  font-size: 10px;
}
.likeDiv:checked + .like{
  stroke: red;
  fill: red;
}
.height_3vh{
  height: 3vh;
}
.like-right_size{
  width: 20px;
  height: 20px;
}
.date-block{
  display: block;
  width: auto;
  min-width: 90px;
  height: 25px;
  background: #979797;
  text-align: center;
  color: white;
  border-radius:5px;
}